body {
	background-color: #864a9e;
}
#color {
	background-color: #ad45cf;
}
#color2 {
	background-color: #0c888e;
}
#color3 {
	background-color: #4e6daa;
}
#color4 {
	background-color: #9077ff;
}
#color6 {
	background-color: #5f3a87;
}
#color7 {
	background-color: #316077;
}
h2 {
	color: white;
}
p {
	color: white;
}
