.ac {
	background-color: #c68149;
	border-style: solid;
}
.col-lg-4 {
	background-color: #a87c57;
	border-style: solid;
}
body {
	background-color: #ffd1aa;
}
.col-lg-8 {
	background-color: #a87c57;
	border-style: solid;
}
.color {
	color: #444343;
	text-decoration: none;
}
.color-2 {
	color: black;
}